*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}
section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 16px;
}
h2{
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
h2::before{
    position: relative;
    top: 5px;
    margin-right: 3px;
}
#header_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
header{
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}
a{
    text-decoration: none;
}
h4{
    margin-right: 4px;
    font-weight: 600;
    font-size: 13px;
    display: inline;
}
p{
    font-size: 13px;
    display: inline;
}